<div class="sticky-header">
    <header [headerData]="headerData"></header>
    <!-- main content start-->
    <ion-content class="main-content">

    <!--body wrapper start-->
    <div class="wrapper">
      <order-customer-edit #customerControl [onChange]="onCustomerChange"></order-customer-edit>
      <div class="panel panel-default">
        <form [formGroup]="orderGroup">
          <div class="panel-heading">
            <h3 class="panel-title">订单数据</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label class="control-label">货 &nbsp;&nbsp; 号</label>
                  <bola-select formControlName="NID" class="form-text" placeholder="请选择款式" [source]="baseDatas.maintainList||[]" [onChanged]="onNIDChange"></bola-select>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label class="control-label">护理项目</label>
                  <bola-form-text class="form-text" formControlName="m_name"></bola-form-text>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label class="control-label">护理费用</label>
                  <bola-form-text class="form-text" formControlName="m_price"></bola-form-text>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label class="control-label">时 &nbsp;&nbsp; 间</label>
                  <bola-form-text class="form-text" formControlName="m_time"></bola-form-text>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label class="control-label">水 &nbsp;&nbsp; 洗</label>
                  <bola-select formControlName="m_wash" class="form-text" placeholder="请选择水洗" [source]="washList||[]" [onChanged]="onPropertyChange"></bola-select>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label class="control-label">颜 &nbsp;&nbsp; 色</label>
                  <ion-input class="form-text" formControlName="m_color" placeholder="输入颜色" type="text" ></ion-input>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                  <label class="control-label">色卡编号</label>
                  <ion-input class="form-text" formControlName="m_demo" placeholder="输入色卡编号" type="text" ></ion-input>
                </div>
              </div>
            </div>
          </div>
        </form>
        <form #loginForm="ngForm">
          <div class="panel panel-info data-photo">
            <div class="panel-heading"> <span class="info-square"></span>
              <h3 class="panel-title">拍照信息</h3>
            </div>
            <div class="panel-body">
              <div *ngFor="let pic of pics;let i = index;" class="form-group">
                <div *ngIf="pic.file" class="photo-current"><img src="{{FILE_URL+'/'+pic.file}}" class="img-responsive"></div>
                <div *ngIf="pic.file===''" class="photo-default" (click)="onBtnPickerClicked(pic)"><span class="fa fa-camera"></span></div>
                <textarea class="form-control" placeholder="填写说明文字" [ngModelOptions]="{standalone: true}" [(ngModel)]="pics[i].desc" >{{pic.desc}}</textarea>
              </div>
              <div class="order-pic-btn-container">
                <button ion-button color="dark" full class="order-pic-btn-add" (click)="btnPicAddClicked()">添加</button>
              </div>
            </div>
          </div>
          <div class="panel panel-info data-remarks">
            <div class="panel-heading"> <span class="info-square"></span>
              <h3 class="panel-title">备注信息</h3>
            </div>
            <div class="panel-body">
              <textarea class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="order_remark" placeholder="填写备注文字"></textarea>
            </div>
          </div>
          <div class="panel panel-info data-urgentu">
            <div class="panel-heading"> <span class="info-square"></span>
              <h3 class="panel-title">加急</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label class="control-label">加急天数</label>
                    <bola-select class="form-text" [(ngModel)]="urgent" [ngModelOptions]="{standalone: true}" placeholder="请选择加急类型" [source]="baseDatas.urgentList||[]" [onChanged]="onUrgentChange"></bola-select>
                  </div>
                  <div class="service-charges text-right">金 额：<span>{{currentUrgentData&&currentUrgentData.price||0}}元</span></div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div *ngIf="!cartInfo.cart" class="order-action"> <a href="#" class="btn" (click)="createOrderClicked()">立即创建</a> <a href="#" class="btn" (click)="addToCartClicked()">加入购物车</a> </div>
        <div *ngIf="cartInfo.cart" class="order-action"> <a href="#" class="btn" (click)="btnSureClicked()">确定</a></div>
      </div>
    </div>
    <!--body wrapper end-->
    
  </ion-content>
</div>
