<div class="tab-content analyse-container">
  <div class="tab-pane active" id="today">
    <div class="panel panel-info">
      <div class="panel-heading"> <span class="info-square"></span>
        <h3 class="panel-title">畅销TOP</h3>
      </div>
      <div class="panel-body">
        <div class="table-selling">
          <table class="table">
            <thead>
              <tr>
                <th width="31%">款号</th>
                <th width="20%">材质</th>
                <th width="20%">销量</th>
                <th>销售额</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of top10List;let _index = index">
                <td>{{item.NID}}</td>
                <td>{{item.material_name}}</td>
                <td>{{item.count}}</td>
                <td>￥{{priceFormat(item.amount,2)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-info analyse-top10">
      <div class="panel-heading"> <span class="info-square"></span>
        <h3 class="panel-title">畅销占比</h3>
      </div>
      <div class="panel-body analyse-chart-goods-top10" #analyseGoodsTop10>
      </div>
      <div class="panel-body analyse-goods-top10">
        <div>销售占比{{top10AmountPer}}%</div>
        <div>销量占比{{top10CountPer}}%</div>
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading"> <span class="info-square"></span>
        <h3 class="panel-title">销量材质分布图</h3>
      </div>
      <div class="panel-body analyse-chart-goods" #analyseGoodsMatrial></div>
      <div *ngIf="currentDateType===4" class="panel-body analyse-chart-goods" #analyseGoodsQuarterMatrial></div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading"> <span class="info-square"></span>
        <h3 class="panel-title">销量男女分布图</h3>
      </div>
      <div class="panel-body analyse-chart-goods" #analyseGoodsSex></div>
      <div *ngIf="currentDateType===4" class="panel-body analyse-chart-goods" #analyseGoodsQuarterSex></div>
    </div>
    <div *ngIf="currentDateType===3||currentDateType===4" class="panel panel-info">
      <div class="panel-heading"> <span class="info-square"></span>
        <h3 class="panel-title">销售价格段分布图</h3>
      </div>
      <div class="panel-body analyse-chart-goods" #analyseGoodsPrice></div>
      <div *ngIf="currentDateType===4" class="panel-body analyse-chart-goods" #analyseGoodsQuarterPrice></div>
    </div>
  </div>
</div>
