.analyse-chart-shop-day-amount {
  width:100%;
  height:360px;
}
.analyse-chart-shop-day-each {
  width:100%;
  height:360px;
}

.analyse-chart-shop-week-sales {
  width:100%;
  height:200px;
}
.analyse-chart-shop-Month {
  width:100%;
  height:200px;
}
.analyse-chart-shop-year {
  width:100%;
  height:360px;
}

.analyse-chart-goods {
  width:100%;
  height:320px;
}
.analyse-chart-goods-top10 {
  width:100%;
  height:200px;
}

.analyse-goods-top10 {
  position: absolute;
  bottom:10px;
  left:15%;
  width:70%;
  display: flex;
  justify-content: space-between;
  height:28px;
  line-height: 28px;
}
.analyse-goods-top10 div {
  flex:1;
  text-align: center;
}

.special-select.select-ios .select-icon {
  margin-top: 3px;
}

.analysis-tab .tab-content.analyse-container {
  padding-bottom: 110px;
}
