<div class="sticky-header">
  <header [headerData]="headerData"></header>
  <!-- main content start-->
  <ion-content class="main-content">
    <!--body wrapper start-->
    <div class="wrapper">
      <form [formGroup]="formGroup">
        <div class="search-mod">
          <label class="pull-left" for="mobileNumber">搜索栏</label>
          <input type="text" class="form-control" formControlName="NID" id="mobileNumber" placeholder="输入样品货号">
          <a href="#" class="btn pull-right"><span class="fa fa-search"></span></a>
        </div>
      </form>
      <div class="allot">
        <ion-list class="allotList">
          <ion-item-sliding class="allot-listInfo" *ngFor="let sample of sampleList; let sampleIndex = index">
            <ion-item>
              <div class="clearfix">
                <p class="item-img pull-left" *ngIf="getSampleIcon(sample)"><img src="getSampleIcon(sample)" class="img-responsive"></p>
                <p class="item-img pull-left" *ngIf="!getSampleIcon(sample)">暂无图片</p>
                <p class="item-info pull-left"> <span class="title">货号：{{sample.NID}}</span> <span class="position">位置：{{sample.shop.name}}</span> </p>
                <p class="allot-img left pull-right"></p>
              </div>
            </ion-item>
            <ion-item-options side="right" *ngIf="getSampleRightBtnLabel(sample)">
              <div class="allot-item-right">
                <div class="allotBtns-apply show" ><a class="btn btn-block" (click)="onItemRightClicked(sample)">{{getSampleRightBtnLabel(sample)}}</a></div>
              </div>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
    </div>
    <!--body wrapper end-->

  </ion-content>
  <!-- main content end-->
</div>
