<div class="sticky-header">
  <header [headerData]="headerData"></header>
  <!-- main content start-->
  <ion-content class="main-content">
    <!--body wrapper start-->
    <div class="wrapper">
      <form [formGroup]="formGroup">
        <div class="panel search-mod">
          <label class="pull-left" for="mobileNumber">搜索栏</label>
          <input type="text" class="form-control" formControlName="NID" id="mobileNumber" placeholder="输入样品货号">
          <a class="btn pull-right" (click)="onBtnSearchClicked()">
            <span class="fa fa-search" *ngIf="!searching"></span>
            <span *ngIf="searching">取消</span>
          </a>
        </div>
      </form>
      <div class="allot">
        <ion-list class="allotList" *ngIf="!searching">
          <div *ngFor="let sample of sampleList; let sampleIndex = index">
            <div style="margin:0 8px;">
              <ion-item-sliding class="allot-listInfo">
                <ion-item>
                  <div class="clearfix">
                    <p class="item-img pull-left" *ngIf="getSampleIcon(sample)"><img src="getSampleIcon(sample)" class="img-responsive"></p>
                    <p class="item-img pull-left" *ngIf="!getSampleIcon(sample)">暂无图片</p>
                    <p class="item-info pull-left"> <span class="title">货号：{{sample.NID}}</span> <span class="position">位置：{{sample.shop.name}}</span> </p>
                    <p class="allot-img {{getSampleShoesCountClass(sample)}} pull-right"></p>
                  </div>
                </ion-item>
                <ion-item-options side="right" *ngIf="getSampleRightBtnLabel(sample)">
                  <div class="allot-item-right">
                    <div class="allotBtns-apply show" ><a class="btn btn-block" (click)="onItemRightClicked(sample)">{{getSampleRightBtnLabel(sample)}}</a></div>
                  </div>
                </ion-item-options>
              </ion-item-sliding>
            </div>
          </div>
          <span class="list-none" *ngIf="!sampleList || sampleList.length === 0">暂无数据</span>
        </ion-list>
        <ion-list class="allotList" *ngIf="searching">
          <div *ngFor="let sample of searchList; let sampleIndex = index">
            <div style="margin:0 8px;">
              <ion-item-sliding class="allot-listInfo">
                <ion-item>
                  <div class="clearfix">
                    <p class="item-img pull-left" *ngIf="getSampleIcon(sample)"><img src="getSampleIcon(sample)" class="img-responsive"></p>
                    <p class="item-img pull-left" *ngIf="!getSampleIcon(sample)">暂无图片</p>
                    <p class="item-info pull-left"> <span class="title">货号：{{sample.NID}}</span> <span class="position">位置：{{sample.shop.name}}</span> </p>
                    <p class="allot-img {{getSampleShoesCountClass(sample)}} pull-right"></p>
                  </div>
                </ion-item>
                <ion-item-options side="right" *ngIf="getSampleRightBtnLabel(sample)">
                  <div class="allot-item-right">
                    <div class="allotBtns-apply show" ><a class="btn btn-block" (click)="onItemRightClicked(sample)">{{getSampleRightBtnLabel(sample)}}</a></div>
                  </div>
                </ion-item-options>
              </ion-item-sliding>
            </div>
          </div>
          <span class="list-none" *ngIf="!searchList || searchList.length === 0">暂无数据</span>
        </ion-list>
      </div>
    </div>
    <!--body wrapper end-->

  </ion-content>
  <!-- main content end-->
</div>
