
  <ion-content class="main-content">
    <!--body wrapper start-->
    <div class="wrapper">
      <div class="allot">
        <ion-list class="allotList" style="margin:0">
          <div>
            <div style="margin:0 8px;">
              <ion-item-sliding class="allot-listInfo">
                <ion-item>
                  <div class="clearfix">
                    <p class="item-img pull-left">暂无图片</p>
                    <p class="item-info pull-left"> <span class="title">货号：1111</span> <span class="position">位置：1111</span> </p>
                    <p class="allot-img left pull-right"></p>
                  </div>
                </ion-item>
                <ion-item-options side="right">
                  <div class="allot-item-right">
                    <div class="allotBtns-apply show" ><a class="btn btn-block" (click)="onItemRightClicked(sample)">入库</a></div>
                  </div>
                </ion-item-options>
              </ion-item-sliding>
            </div>
            <div class="allot-progress">
              <ul class="clearfix">
                <li><i></i> <span class="title">申请调拨</span> </li>
                <li> <i></i> <span class="title">商品部确认</span> </li>
                <li class="default"><i></i> <span class="title">快递物流</span> </li>
              </ul>
              <div class="allotDelivery">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label class="control-label">收货店铺</label>
                      <p class="form-text">上海杨浦店</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label class="control-label">联系电话</label>
                      <p class="form-text">15012341234</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div style="margin:0 8px;">
              <ion-item-sliding class="allot-listInfo">
                <ion-item>
                  <div class="clearfix">
                    <p class="item-img pull-left">暂无图片</p>
                    <p class="item-info pull-left"> <span class="title">货号：1111</span> <span class="position">位置：1111</span> </p>
                    <p class="allot-img left pull-right"></p>
                  </div>
                </ion-item>
                <ion-item-options side="right">
                  <div class="allot-item-right">
                    <div class="allotBtns-apply show" ><a class="btn btn-block" (click)="onItemRightClicked(sample)">入库</a></div>
                  </div>
                </ion-item-options>
              </ion-item-sliding>
            </div>
            <div class="allot-progress">
              <ul class="clearfix">
                <li><i></i> <span class="title">申请调拨</span> </li>
                <li><i></i> <span class="title">商品部确认</span> </li>
                <li><i></i> <span class="title">快递物流</span> </li>
              </ul>
              <div class="allotDelivery">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label class="control-label">收货店铺</label>
                      <p class="form-text">上海杨浦店</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label class="control-label">快递公司</label>
                      <p class="form-text">顺丰</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label class="control-label">快递单号</label>
                      <p class="form-text">012345678901234</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label class="control-label">联系电话</label>
                      <p class="form-text">15012341234</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div style="margin:0 8px;">
              <ion-item-sliding class="allot-listInfo">
                <ion-item>
                  <div class="clearfix">
                    <p class="item-img pull-left">暂无图片</p>
                    <p class="item-info pull-left"> <span class="title">货号：1111</span> <span class="position">位置：1111</span> </p>
                    <p class="allot-img left pull-right"></p>
                  </div>
                </ion-item>
                <ion-item-options side="right">
                  <div class="allot-item-right">
                    <div class="allotBtns-apply show" ><a class="btn btn-block" (click)="onItemRightClicked(sample)">入库</a></div>
                  </div>
                </ion-item-options>
              </ion-item-sliding>
            </div>
            <div class="allot-progress">
              <ul class="clearfix">
                <li><i></i> <span class="title">申请调拨</span> </li>
                <li> <i></i> <span class="title">商品部确认</span> </li>
                <li class="default"><i></i> <span class="title">快递物流</span> </li>
              </ul>
              <div class="allotDelivery">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label class="control-label">收货店铺</label>
                      <p class="form-text">上海杨浦店</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="form-group">
                      <label class="control-label">联系电话</label>
                      <p class="form-text">15012341234</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ion-list>
      </div>
      <div class="allot">
        <ion-list class="allotList">
          <ion-item-sliding class="allot-listInfo" *ngFor="let sample of sampleList; let sampleIndex = index">
            <ion-item>
              <div class="clearfix">
                <p class="item-img pull-left" *ngIf="getSampleIcon(sample)"><img src="getSampleIcon(sample)" class="img-responsive"></p>
                <p class="item-img pull-left" *ngIf="!getSampleIcon(sample)">暂无图片</p>
                <p class="item-info pull-left"> <span class="title">货号：{{sample.NID}}</span> <span class="position">位置：{{sample.shop.name}}</span> </p>
                <p class="allot-img left pull-right"></p>
              </div>
            </ion-item>
            <ion-item-options side="right" *ngIf="getSampleRightBtnLabel(sample)">
              <div class="allot-item-right">
                <div class="allotBtns-apply show" ><a class="btn btn-block" (click)="onItemRightClicked(sample)">{{getSampleRightBtnLabel(sample)}}</a></div>
              </div>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
    </div>
    <!--body wrapper end-->

  </ion-content>
